.dashboard-container {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "routine calendar user-info"
                            ". . .";
    width: 100%;
    min-width: 1100px;
    height: 100vh;
    padding: 8px;
    background-color: #eff4f9;
}

.routine {
    grid-area: routine;
}

.calendar {
    grid-area: calendar;
}

.user-info {
    grid-area: user-info;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}